<header>
	<img src='http://placehold.it/100x50' />
	<div class='searchBox'>
		<input type = 'text' />
		<button />
	</div>
</header>
<section>
	{{outlet}}
</section>
<footer>
	Ember Second Class
</footer>

