<header>
	<img src='http://placehold.it/100x50' />
	<div class='searchBox'>
		<input type = 'text' />
		<button />
	</div>
</header>
<section>
	<div class='videoSection'>
		<div class="player">
		</div>
	
		<div class="videoTitle">
			<h2>Title goes Here</h2>
			<div>
				<div class="videoAuthorInfo">
					<img src="http://placehold.it/50x50" />
					Author goes here
					<button class = "subscribeButton">Subscribe</button>
				</div>
			</div>
		</div>
	
		<div class="videoDescription">
			<strong> Uploaded on this time </strong>
			<p> This is what the video is about. </p>
		</div>
	</div>
</section>
<footer>
	Ember Second Class
</footer>

{{outlet}}
